@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@400;700&display=swap');

:root {
  font-family: Inter, 'Fredoka One';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: rgb(52, 71, 103);
  background-color: rgb(240, 242, 245);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
}